@import "src/helpers/mixins"

.bikes
  @include default_box
  min-height: 580px
  padding: 60px 120px

@media screen and (max-width: 1439px)
  .bikes
    padding: 20px 30px
    width: 100%


@media screen and (max-width: 768px)
  .bikes
    padding: 40px 18px
