.page {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 1140px;
  margin: 0 auto;
  background-color: rgba(244, 244, 244, 1);
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
