@import "src/helpers/mixins"
@import "src/helpers/variables"

.bikes__description
  @include default_text
  color: $color_title
  margin-top: 22px
  font-weight: 600
  font-size: 18px
  line-height: 22px

@media screen and (max-width: 320px)
  .bikes__description
    font-size: 14px
    line-height: 18px
    width: 140px
    position: absolute
    bottom: 16px
    left: 72px
    text-align: center
