@import "src/helpers/variables"
@import "src/helpers/mixins"

.footer__ok
  @include paragraph
  position: absolute
  font-weight: 500
  font-size: 13px
  line-height: 28px
  color: #151515
  right: 695px
  top: 217px
  display: none
  width: 16px
  height: 28px
  z-index: 3
  cursor: pointer
