@import "src/helpers/mixins"

.coating
  @include default_box
  padding: 60px 0 60px 120px
  min-height: 505px

@media screen and (max-width: 320px)
  .coating
    padding: 40px 18px
    position: relative
