@import "src/helpers/mixins"

.info
  @include default_box
  min-height: 50px
  padding: 94px 0 0 120px

@media screen and (max-width: 1439px)
  .info
    padding: 20px 30px
    width: 100%

@media screen and (max-width: 768px)
  .info
    padding: 40px 18px
