@import "src/helpers/mixins"

.info__img
  @include default_img
  width: 610px
  height: 836px

@media screen and (max-width: 320px)
  .info__img
    width: 254px
    height: 348px
    justify-self: right
