@import "src/helpers/mixins"

.coating__element-img
  @include default_box
  width: 640px
  height: 400px

@media screen and (max-width: 1439px)
  .coating__element-img
    width: 50%
    height: 100%

@media screen and (max-width: 768px)
  .coating__element-img
    width: 284px
    height: 175px
