@import "src/helpers/mixins"

.info__wrapper-img
  @include default_box
  width: 610px
  height: 856px
  margin-top: 20px
  grid-area: img

@media screen and (max-width: 320px)
  .info__wrapper-img
    margin-top: 0
    width: 284px
    height: 348px
    display: grid
