@import "src/helpers/mixins"

.author__img
  @include default_img
  width: 650px
  height: 460px
  object-fit: contain

@media screen and (max-width: 320px)
  .author__img
    margin-top: 20px
    width: 284px
    height: 204px
