.info__popup
  box-sizing: border-box
  width: 440px
  height: 300px
  padding: 20px 50px

  filter: drop-shadow(-20px 60px 220px rgba(0, 0, 0, 0.2))
  background: #F4F4F4
  border-radius: 20px

  position: sticky
  top: 465px
  margin-bottom: 79px
  margin-top: -500px
  margin-left: -200px


@media screen and (max-width: 1439px)
  .info__popup
    width: 234px
    height: 160px
    padding: 11px 27px

@media screen and (max-width: 768px)
  .info__popup
    position: relative
    top: -187px
    margin-bottom: 0
    margin-top: 0
    margin-left: 0
