@import "src/helpers/mixins"
@import "src/helpers/variables"

.author__title
  @include default_text
  color: $color_title
  font-weight: 600
  font-size: 34px
  line-height: 44px
  letter-spacing: -0.5px

@media screen and (max-width: 320px)
  .author__title
    margin-top: 40px
    font-size: 23px
    line-height: 29px
